@{
    ViewBag.Title = "Home";
    ViewBag.Message = "Demo site for showcasing login using Azure ACS.";
}

@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
            <p>
                To learn more about Azure Active Directory Access Control visit
                <a href="http://www.windowsazure.com/en-us/develop/net/how-to-guides/access-control/" title="Azure Active Directory Access Control Documentation Website">http://www.windowsazure.com/en-us/develop/net/how-to-guides/access-control/</a>. 
                The page features <mark>videos, tutorials, and samples</mark> to help you get the most from Azure ACS.<br/>
                If you have any questions about Azure ACS visit
                <a href="http://social.msdn.microsoft.com/Forums/en-US/windowsazuresecurity/threads" title="Azure ACS Forum">our forums</a> or <a href="http://stackoverflow.com/questions/tagged/azure" title="Questions on StackOverflow tagged with the keyword Azure">StackOverflow</a>.
            </p>
        </div>
    </section>
}

<h3>How to use:</h3>
<ol class="round">
    <li class="one">
        <h5>Set up Azure ACS</h5>
        You need to set up an Access Control Namespace on Windows Azure.
        <a href="http://www.windowsazure.com/en-us/develop/net/how-to-guides/access-control/#create-namespace">Learn more…</a>
    </li>

    <li class="two">
        <h5>Configure Azure ACS Indentity Providers</h5>
        The Access Control Service currently supports authentication using Google, Yahoo, Facebook, Microsoft Account, <a href="http://www.cloudidentity.com/blog/2012/11/07/provisioning-a-directory-tenant-as-an-identity-provider-in-an-acs-namespace/">Windows Azure Active Directory</a>, <a href="http://blogs.msdn.com/b/mcsuksoldev/archive/2012/11/02/azure-access-control-services-creating-a-custom-identity-provider.aspx">custom Identity Providers</a> and ADFS 2.0.
        <a href="http://msdn.microsoft.com/en-us/library/windowsazure/gg185971.aspx">Learn more…</a>
    </li>

    <li class="three">
        <h5>Add ACS configuration</h5>
        Edit the <code>App_Start\SecurityConfig.cs</code> file and change the authentication configuration to suit your project.
    </li>
</ol>
